/*--------------------------------------------------------------------------*/
/*                            GENERAL STYLES                                */
/*--------------------------------------------------------------------------*/

.well {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*--------------------------------------------------------------------------*/
/*                                BUTTONS                                   */
/*--------------------------------------------------------------------------*/

/* Buttons */

.btn {
	background: #EEEEEE;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn.active,
.btn:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-primary {
	background: #3498DB;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: #FFFFFF;
	background-color: #2980B9;
	*background-color: #2980B9;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-group>.btn:first-child,
.btn-group>.btn:last-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
}

.input-append .btn,
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child>.dropdown-toggle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*--------------------------------------------------------------------------*/
/*                                 FORM                                     */
/*--------------------------------------------------------------------------*/

/* Forms */

input[type="text"],
input[type="password"],
input[type="search"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"], 
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.uneditable-input,
textarea {
	height: auto;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"], 
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.uneditable-input,
textarea {
	margin: 10px 0px 15px;
}

input[type="search"] {
	margin: 0px;
}

.form-actions {
	background-color: transparent;
	border-top: none;
}

/*--------------------------------------------------------------------------*/
/*                               NAVBAR                                     */
/*--------------------------------------------------------------------------*/

/* Navbar */

.navbar,
.navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-top .navbar-inner,
.navbar-inverse {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus,
.navbar-inverse .nav .active>a,
.navbar-inverse .nav .active>a:hover,
.navbar-inverse .nav .active>a:focus {
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar #menu.nav > li.current-menu-item > a,
.navbar #menu.nav > li.current-menu-item > a:hover, 
.navbar #menu.nav > li.current-menu-item > a:focus {
	background: transparent;
}

.navbar .btn-navbar {
	background: transparent;
	border: none;
	padding: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .btn-navbar .icon-bar {
	width: 24px;
	height: 3px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
	background: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: transparent;
}

.dropdown-menu {
	list-style: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
	outline: 0;
}

.dropdown-menu .divider {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: transparent;
	border-bottom: none;
}

.dropdown-menu li > a {
	display: block;
	clear: both;
	min-width: 0px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
}

.nav-collapse .nav > li > a:hover,
.nav-collapse .dropdown-menu a:hover {
	background-color: transparent;
}

.navbar .nav > li > .dropdown-menu:before {
	border: none;
}

.navbar .nav > li > .dropdown-menu:after {
	border: none;
}


/*--------------------------------------------------------------------------*/
/*                                 PAGE                                     */
/*--------------------------------------------------------------------------*/

.page-header {
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
}

/*--------------------------------------------------------------------------*/
/*                             SUB NAVIGATION                               */
/*--------------------------------------------------------------------------*/

ul.sub-navigation.nav-tabs.nav-stacked>li>a {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	-o-border-radius: 0;
	border-radius: 0; 
}